/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
  background-color: #f0f9ff;

}


html, body {
  font-family: Roboto, 'Segoe UI', Verdana, sans-serif;
}
