<h1 id="tableLabel">Produtos</h1>

<p *ngIf="!prods"><em>Loading...</em></p>

<table class='table table-hover' *ngIf="prods">
  <thead class="thead-dark q">
    <tr>
      <th scope="row">Id</th>
      <th scope="row">Name </th>
      <th>description</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prods of prods">
      <td>{{ prods.id }}</td>
      <td>{{ prods.name }}</td>
      <td>{{ prods.description }}</td>
      <td>R$ {{ prods.price }}</td>
    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-dark" data-toggle="button" roboto-pressed="false" autocomplete="off">
  Adicionar
</button>
